In [1]:
import numpy as np
import pandas as pd

In [6]:
latlong = pd.read_csv('./district wise centroids.csv')
latlong.info()
latlong.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State      594 non-null    object
 1   District   594 non-null    object
 2   Latitude   594 non-null    float64
 3   Longitude  594 non-null    float64
dtypes: float64(2), object(2)
memory usage: 18.7+ KB

np.int64(0)

In [55]:
census = pd.read_csv("./india-districts-census-2011.csv")
census.isnull().sum()
census.head()

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629

In [56]:
cols = ['District code', 'District name', 'Population', 'Male', 'Female', 'Literate', 'Households_with_Internet', 'Housholds_with_Electric_Lighting']

census = census[cols]
# list(census.columns)

In [57]:
final_df = latlong.merge(census, left_on='District', right_on='District name')

In [58]:
final_df['sex_ration'] = round((final_df['Female'] / final_df['Male']) * 100)
final_df.sample(5)

,State,District,Latitude,Longitude,District code,District name,Population,Male,Female,Literate,Households_with_Internet,Housholds_with_Electric_Lighting,sex_ration
316,Mizoram,Kolasib,24.202000,92.734704,282,Kolasib,83955,42918,41037,65895,367,14853,96.0
267,Madhya Pradesh,Vidisha,23.828383,77.901351,443,Vidisha,1458875,769568,689307,862918,1926,181510,90.0
403,Tamil Nadu,Chennai,13.058099,80.281392,603,Chennai,4646732,2335844,2310888,3776276,217368,1096334,99.0
492,Uttar Pradesh,Sultanpur,26.284639,82.057105,179,Sultanpur,3797117,1914586,1882531,2239902,5956,233701,98.0
258,Madhya Pradesh,Seoni,22.332305,79.660539,456,Seoni,1379131,695879,683252,864194,1182,228695,98.0

In [60]:
final_df['literacy_rate'] = round((final_df['Literate'] / final_df['Population']) * 100)

In [61]:
final_df.sample(5)

,State,District,Latitude,Longitude,District code,District name,Population,Male,Female,Literate,Households_with_Internet,Housholds_with_Electric_Lighting,sex_ration,literacy_rate
432,Uttar Pradesh,Aligarh,27.937486,78.001468,143,Aligarh,3673889,1951996,1721893,2092567,13634,268120,88.0,57.0
412,Tamil Nadu,Madurai,9.904314,78.013660,623,Madurai,3038252,1526475,1511777,2273430,34097,754141,99.0,75.0
163,Jammu and Kashmir,Kargil,33.565995,76.636753,4,Kargil,140802,77785,63017,86236,235,15824,81.0,61.0
167,Jammu and Kashmir,Srinagar,34.273129,75.110212,10,Srinagar,1236829,651124,585705,748584,16413,165403,90.0,61.0
114,Gujarat,Jamnagar,22.410600,69.620620,477,Jamnagar,2160119,1114192,1045927,1396534,11573,386538,94.0,65.0

In [64]:
final_df = final_df.drop(columns=['Male', 'Female', 'Literate'])

In [66]:
final_df.head()
final_df.to_csv('india.csv', index=False)

In [67]:
list_of_state = list(final_df['State'].unique())

In [69]:
list_of_state.insert(0, 'Overall India')

In [71]:
list_of_state

['Overall India',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Daman and Diu',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Orissa',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttaranchal',
 'West Bengal']

In [74]:
sorted(final_df.columns[6:])

Index(['Population', 'Households_with_Internet',
       'Housholds_with_Electric_Lighting', 'sex_ration', 'literacy_rate'],
      dtype='object')

In [77]:
final_df[final_df['State'] == 'Andhra Pradesh']

,State,District,Latitude,Longitude,District code,District name,Population,Households_with_Internet,Housholds_with_Electric_Lighting,sex_ration,literacy_rate
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,Adilabad,2741239,5512,566108,100.0,54.0
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,Anantapur,4081148,8606,897970,98.0,57.0
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,Chittoor,4174064,13763,944555,100.0,64.0
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,East Godavari,5154296,22411,1297273,101.0,64.0
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,Guntur,4887813,19383,1186028,100.0,61.0
5,Andhra Pradesh,Hyderabad,17.389716,78.466689,536,Hyderabad,3943323,149034,869721,95.0,73.0
6,Andhra Pradesh,Karimnagar,18.515483,79.437654,534,Karimnagar,3776269,8831,926768,101.0,58.0
7,Andhra Pradesh,Khammam,17.683921,80.670086,541,Khammam,2797370,8628,668519,101.0,58.0
8,Andhra Pradesh,Krishna,16.143873,81.148051,547,Krishna,4517398,30438,1163932,99.0,67.0
9,Andhra Pradesh,Kurnool,15.437597,77.900868,552,Kurnool,4053463,10081,816721,99.0,52.0
10,Andhra Pradesh,Mahbubnagar,16.639546,77.989331,538,Mahbubnagar,4053028,6153,757821,98.0,48.0
11,Andhra Pradesh,Medak,17.889305,78.137789,535,Medak,3033288,8635,604719,99.0,54.0
12,Andhra Pradesh,Nalgonda,17.113251,79.169845,539,Nalgonda,3488809,7715,789225,98.0,57.0
13,Andhra Pradesh,Nizamabad,18.429486,78.075235,533,Nizamabad,2551335,5261,545913,104.0,54.0
14,Andhra Pradesh,Prakasam,15.489039,80.116658,549,Prakasam,3397448,6151,763746,98.0,56.0
15,Andhra Pradesh,Srikakulam,18.570901,84.258748,542,Srikakulam,2703114,3988,615432,101.0,55.0
16,Andhra Pradesh,Vizianagaram,18.283297,83.459829,543,Vizianagaram,2344474,4453,527736,102.0,53.0
17,Andhra Pradesh,Warangal,18.017526,79.874220,540,Warangal,3512576,12952,828077,100.0,59.0
18,Andhra Pradesh,West Godavari,16.632979,81.459130,546,West Godavari,3936966,12050,1017568,100.0,67.0